node-red/flows/.flows.json.backup
[{"id":"92c6fa73.238768","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"8a140c94.9e6d4","type":"subflow","name":"mqtt","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"83a04101.fe487"}]}],"out":[],"env":[{"name":"NAME","type":"str","value":""},{"name":"INBOX","type":"env","value":"mqtt/${NAME}/inbox","ui":{"type":"hide","opts":{}}},{"name":"BOT_NAME","type":"str","value":""},{"name":"BOT_TOKEN","type":"str","value":""},{"name":"CHAT_ID","type":"num","value":""},{"name":"NOTES","type":"env","value":"mqtt/${NAME}/notes","ui":{"type":"hide","opts":{}}}],"color":"#DDAA99"},{"id":"211fa4a3.5ef86c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17ebb410.4d82ec","type":"comment","z":"92c6fa73.238768","name":"CREATE DUMMY AGENT","info":"","x":190,"y":80,"wires":[]},{"id":"14734b7b.8e5bf5","type":"inject","z":"92c6fa73.238768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":140,"wires":[["29f45004.d8611"]],"l":false},{"id":"92c63d58.74da4","type":"mqtt in","z":"8a140c94.9e6d4","name":"","topic":"${INBOX}","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":160,"y":260,"wires":[["9253c685.1f1da8"]]},{"id":"42cd2b73.b037a4","type":"http request","z":"8a140c94.9e6d4","name":"signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":260,"wires":[["acd220f8.ec78a"]]},{"id":"9253c685.1f1da8","type":"function","z":"8a140c94.9e6d4","name":"signal","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/workspaces/dummy/artifacts/mqtt/operations/doSignal/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["42cd2b73.b037a4"]]},{"id":"acd220f8.ec78a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["a9dd252f.0fdb48"]]},{"id":"a9dd252f.0fdb48","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":260,"wires":[]},{"id":"3ea40478.17620c","type":"comment","z":"8a140c94.9e6d4","name":"MQTT > AGENT (SIGNAL)","info":"****","x":210,"y":220,"wires":[]},{"id":"29f45004.d8611","type":"subflow:8a140c94.9e6d4","z":"92c6fa73.238768","name":"","env":[{"name":"NAME","value":"otavio","type":"str"},{"name":"BOT_NAME","value":"Claudio","type":"str"},{"name":"BOT_TOKEN","value":"1344487748:AAFLqqD934hzjag5DepZREkNvSps56QmaAU","type":"str"},{"name":"CHAT_ID","value":"894318217","type":"num"}],"x":570,"y":140,"wires":[]},{"id":"54a74328.3d97ac","type":"comment","z":"8a140c94.9e6d4","name":"AGENT > USER (TELEGRAM)","info":"","x":230,"y":360,"wires":[]},{"id":"f2f8190c.b3e0f8","type":"http in","z":"8a140c94.9e6d4","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["121895f.f566b6a","393c50ee.0f9ed"]]},{"id":"5274f7e9.0588a8","type":"telegram sender","z":"8a140c94.9e6d4","name":"send","bot":"492df124.49409","x":630,"y":400,"wires":[["c14e45f8.9b97f8"]]},{"id":"c14e45f8.9b97f8","type":"debug","z":"8a140c94.9e6d4","d":true,"name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":400,"wires":[]},{"id":"121895f.f566b6a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"payload.sender","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":400,"wires":[["31f10410.ab7c3c"],["6716588.8bdb4a8"]]},{"id":"6716588.8bdb4a8","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":460,"wires":[]},{"id":"393c50ee.0f9ed","type":"http response","z":"8a140c94.9e6d4","name":"","statusCode":"","headers":{},"x":170,"y":460,"wires":[]},{"id":"31f10410.ab7c3c","type":"function","z":"8a140c94.9e6d4","name":"","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nmsg.payload = {}\n// msg.payload.chatId = 894318217;\n// msg.payload.chatId = `${CHAT_ID}`;\nmsg.payload.chatId = env.get('CHAT_ID');\nmsg.payload.type = 'message';\nmsg.payload.content = content;\n// msg.token = env.get('BOT_TOKEN');\n// msg.botName = env.get('BOT_NAME');\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["5274f7e9.0588a8"]]},{"id":"918f4343.a97e1","type":"comment","z":"8a140c94.9e6d4","name":"USER > AGENT (ACL)","info":"","x":1080,"y":140,"wires":[]},{"id":"d5173901.dd4148","type":"telegram receiver","z":"8a140c94.9e6d4","name":"","bot":"492df124.49409","saveDataDir":"","filterCommands":false,"x":1070,"y":180,"wires":[["2e3c8e75.091022"],[]]},{"id":"2e3c8e75.091022","type":"function","z":"8a140c94.9e6d4","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload.content}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/bot/inbox`;\nmsg.payload = \n`{ \n    \\\"sender\\\": \\\"user\\\", \n    \\\"receiver\\\": \\\"bot\\\", \n    \\\"performative\\\": \\\"signal\\\", \n    \\\"content\\\": \\\"${literal}\\\", \n    \\\"msgId\\\": \\\"13\\\"\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":180,"wires":[["94efaaf8.31a058"]]},{"id":"94efaaf8.31a058","type":"http request","z":"8a140c94.9e6d4","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":180,"wires":[["30e71115.37ea9e"]]},{"id":"30e71115.37ea9e","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":180,"wires":[["53f151f0.9f7eb"]]},{"id":"53f151f0.9f7eb","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":180,"wires":[]},{"id":"90c3aea9.2507b","type":"http in","z":"8a140c94.9e6d4","name":"Dummy MQTT","url":"/mqtt","method":"post","upload":false,"swaggerDoc":"","x":1060,"y":340,"wires":[["f332f544.c51f38"]]},{"id":"f332f544.c51f38","type":"switch","z":"8a140c94.9e6d4","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":340,"wires":[["bfaaaf50.4e5e3","5d5363bc.c31b7c"],["7a04f234.712b3c"]]},{"id":"7a04f234.712b3c","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":400,"wires":[]},{"id":"8d301008.7f77e","type":"mqtt out","z":"8a140c94.9e6d4","name":"","topic":"${NOTES}","qos":"2","retain":"","broker":"211fa4a3.5ef86c","x":1650,"y":340,"wires":[]},{"id":"9a9db0db.b7b5","type":"http response","z":"8a140c94.9e6d4","name":"","statusCode":"","headers":{},"x":1450,"y":280,"wires":[]},{"id":"bfaaaf50.4e5e3","type":"change","z":"8a140c94.9e6d4","name":"set msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.terms[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":340,"wires":[["8d301008.7f77e"]]},{"id":"5d5363bc.c31b7c","type":"change","z":"8a140c94.9e6d4","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":280,"wires":[["9a9db0db.b7b5"]]},{"id":"b25cf70.55b1908","type":"comment","z":"8a140c94.9e6d4","name":"AGENT > MQTT (MQTT)","info":"","x":1090,"y":300,"wires":[]},{"id":"e78be100.310f3","type":"http request","z":"8a140c94.9e6d4","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["11e3eeec.7f15c1"]]},{"id":"83a04101.fe487","type":"function","z":"8a140c94.9e6d4","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/user?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://localhost:1880/user\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["e78be100.310f3"]]},{"id":"11e3eeec.7f15c1","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":120,"wires":[["ab6d6072.b1a01"]]},{"id":"ab6d6072.b1a01","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":120,"wires":[]},{"id":"33c0f844.ffe9c8","type":"comment","z":"8a140c94.9e6d4","name":"CREATE DUMMY AGENT","info":"","x":210,"y":60,"wires":[]},{"id":"6ece4398.dcef5c","type":"comment","z":"92c6fa73.238768","name":"DOUBLE CLICK ON NODE BELOW TO CONFIGURE IT","info":"","x":590,"y":80,"wires":[]}]