node-red/flows/flows.json
[{"id":"3c58ad8b.3ad9a2","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"14051890.1103d7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ba5093f.df9427","type":"subflow","name":"jacamo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8af25da8.f645f"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://192.168.1.107"},{"name":"PORT","type":"num","value":"8080"}],"color":"#DDAA99"},{"id":"c04461a8.fbdff","type":"subflow","name":"download","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"21faa660.2614ba"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"db6cbfdc.9b7ea","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"1efd826c.6c451e","type":"subflow","name":"brsiop","info":"","category":"","in":[{"x":240,"y":580,"wires":[{"id":"7c516681.041ab8"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://brsiop.tecgraf.puc-rio.br"},{"name":"PORT","type":"num","value":"9010"},{"name":"MARLIM_PATH","type":"str","value":"/marlim"},{"name":"BASE_URL","type":"str","value":"v1"},{"name":"PROJECT","type":"str","value":"jomi/agbr"}],"color":"#DDAA99"},{"id":"7f227e0b.8bea7","type":"subflow","name":"bcss config","info":"","category":"","in":[{"x":40,"y":102,"wires":[{"id":"1e737034.4ea98"}]}],"out":[],"env":[{"name":"API_HOST","type":"str","value":"http://192.168.1.107"},{"name":"API_PORT","type":"num","value":"8080"},{"name":"WORKSPACE","type":"str","value":"dummy"},{"name":"ART_NAME_1","type":"str","value":"brsiop"},{"name":"ART_NAME_2","type":"str","value":"marlim"},{"name":"ART_NAME_3","type":"str","value":"mpa"},{"name":"BOT","type":"str","value":"teams"}],"color":"#DDAA99"},{"id":"37423808.3a2938","type":"subflow","name":"download (2)","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"25245874.285578"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"6947ba5b.ba5aa4","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"cc7f5875.bf8708","type":"subflow","name":"general settings","info":"","category":"","in":[{"x":130,"y":160,"wires":[{"id":"68be5d57.ffa214"}]}],"out":[],"env":[{"name":"host_nodered","type":"str","value":"http://nodered"},{"name":"port_nodered","type":"str","value":"1880"},{"name":"host_alice","type":"str","value":"http://alice"},{"name":"port_alice","type":"str","value":"8080"},{"name":"host_bob","type":"str","value":"http://bob"},{"name":"port_bob","type":"str","value":"8081"}],"color":"#DDAA99"},{"id":"52dc3f3e.f0676","type":"subflow","name":"general settings (2)","info":"","category":"","in":[{"x":130,"y":160,"wires":[{"id":"a58cc319.1d7dc"}]}],"out":[],"env":[{"name":"host_nodered","type":"str","value":"http://nodered"},{"name":"port_nodered","type":"str","value":"1880"},{"name":"host_alice","type":"str","value":"http://alice"},{"name":"port_alice","type":"str","value":"8080"},{"name":"host_bob","type":"str","value":"http://bob"},{"name":"port_bob","type":"str","value":"8081"}],"color":"#DDAA99"},{"id":"3c9972e5.6853be","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"c79d192d.4f6148","type":"subflow","name":"Subflow 2","info":"","category":"","in":[],"out":[],"env":[{"name":"TEST","type":"str","value":"otavio"},{"name":"MY_TOPIC","type":"env","value":"mqtt/$(TEST)/env"}],"color":"#DDAA99"},{"id":"1e7f0ff7.1d8e7","type":"subflow","name":"room_pir","info":"","category":"","in":[{"x":137,"y":179.0000057220459,"wires":[{"id":"4b2d92fd.c651fc"},{"id":"93790014.1ffbe"}]}],"out":[],"env":[{"name":"ROOM","type":"str","value":""},{"name":"SENSOR_TOPIC","type":"env","value":"zigbee2mqtt/$(ROOM)_sensor"},{"name":"LIGHTS_SET_TOPIC","type":"env","value":"zigbee2mqtt/$(ROOM)_lights/set"},{"name":"LIGHTS_GET_TOPIC","type":"env","value":"zigbee2mqtt/$(ROOM)_lights/get"}],"color":"#DDAA99"},{"id":"5397fb57.8926f4","type":"subflow","name":"Subflow 3","info":"","category":"","in":[],"out":[],"env":[{"name":"ENV_TOPIC","type":"str","value":""}],"color":"#DDAA99"},{"id":"eeda08c8.8dc708","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"211fa4a3.5ef86c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2aba50b.c4a19b","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6272221.157e7","type":"telegram bot","z":"","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7ee08a6b.0e2414","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"791bdfce.61b23","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"652a1ad8.785404","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28d25867.6c8638","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2619473.6c5238","type":"http request","z":"1ba5093f.df9427","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["de41a94d.c67818"]]},{"id":"de41a94d.c67818","type":"switch","z":"1ba5093f.df9427","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":80,"wires":[["9e9b9d65.d8d15"]]},{"id":"9e9b9d65.d8d15","type":"debug","z":"1ba5093f.df9427","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":80,"wires":[]},{"id":"8af25da8.f645f","type":"function","z":"1ba5093f.df9427","name":"new_as","func":"var well = msg.file.substring(0, msg.file.length - 25).replace(/_/g, \"-\").toUpperCase();\nvar content = `new_file(\\\\\\\"${well}\\\\\\\",\\\\\\\"${msg.file}\\\\\\\")`;\nvar receiver = `ag_brsiop`;\nmsg.method = 'POST';\nmsg.url = `${env.get('HOST')}:${env.get('PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"tell\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["f2619473.6c5238"]]},{"id":"21faa660.2614ba","type":"json","z":"c04461a8.fbdff","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["de409dc4.b3361"]]},{"id":"1df29ec8.daa0e1","type":"http request","z":"c04461a8.fbdff","name":"download","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":140,"wires":[["73ff61a0.bc1b7"]]},{"id":"de409dc4.b3361","type":"change","z":"c04461a8.fbdff","name":"url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["1df29ec8.daa0e1"]]},{"id":"73ff61a0.bc1b7","type":"file","z":"c04461a8.fbdff","name":"dowload","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":140,"wires":[["db6cbfdc.9b7ea"]]},{"id":"db6cbfdc.9b7ea","type":"switch","z":"c04461a8.fbdff","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["a41ad182.d70eb"],[]]},{"id":"a41ad182.d70eb","type":"debug","z":"c04461a8.fbdff","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"32958ff8.a6e1b","type":"switch","z":"1efd826c.6c451e","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"upload","vt":"str"},{"t":"eq","v":"mc_as","vt":"str"},{"t":"eq","v":"add_as","vt":"str"},{"t":"eq","v":"jobInfo","vt":"str"},{"t":"eq","v":"download","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":710,"y":580,"wires":[["1d02e743.4dc599"],["d43df8d4.51d178"],["7d32f948.917548"],["7beffa4e.824b74"],["d2dd18a5.b73a58"],["c1b82b81.3e58b8"],["46f69e60.13596"]]},{"id":"1d02e743.4dc599","type":"function","z":"1efd826c.6c451e","name":"login","func":"var login = msg.payload.terms[0];\nvar password = msg.payload.terms[1];\n\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/authentication`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/authentication`;\nmsg.payload = `login=${login}&password=${password}`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["3f56e222.43e3ce"]]},{"id":"3f56e222.43e3ce","type":"http request","z":"1efd826c.6c451e","name":"login","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":200,"wires":[["aa0b4063.a033c"]]},{"id":"6b02e093.42e6c","type":"comment","z":"1efd826c.6c451e","name":"LOGIN","info":"","x":990,"y":153,"wires":[]},{"id":"aa0b4063.a033c","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":200,"wires":[["6e8d5c66.3fb664"],["271e8eb4.bafea2"]]},{"id":"6e8d5c66.3fb664","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":140,"wires":[]},{"id":"d0a3fc28.7a60e","type":"comment","z":"1efd826c.6c451e","name":"UPLOAD","info":"","x":1000,"y":292,"wires":[]},{"id":"d43df8d4.51d178","type":"function","z":"1efd826c.6c451e","name":"upload","func":"msg.token = msg.payload.terms[0];\nmsg.file = msg.payload.terms[1];\nlet envpath = env.get('MARLIM_PATH');\nif (envpath.indexOf(\"/\") >= 0) {\n    msg.filename = `${env.get('MARLIM_PATH')}/${msg.file}`; // N-WINDOWS    \n} else {\n    msg.filename = `${env.get('MARLIM_PATH')}\\\\\\\\${msg.file}`; // WINDOWS\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":336,"wires":[["e0999dc8.2e9cf"]]},{"id":"e0999dc8.2e9cf","type":"file in","z":"1efd826c.6c451e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":336,"wires":[["ef5d4db8.03083"]]},{"id":"ef5d4db8.03083","type":"function","z":"1efd826c.6c451e","name":"multipart","func":"let databuffer = msg.payload;\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/root`;\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.file\n        }\n    },\n    \"uploadType\": {\n        \"value\": \"multipart\"\n    }\n}\nmsg.headers = {};\nmsg.headers['content-type'] = 'multipart/form-data';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1240,"y":336,"wires":[["8773e10.5f5c12"]]},{"id":"8773e10.5f5c12","type":"http request","z":"1efd826c.6c451e","name":"upload","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":336,"wires":[["62651267.45d65c"]]},{"id":"5567f765.468698","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":280,"wires":[]},{"id":"7beffa4e.824b74","type":"function","z":"1efd826c.6c451e","name":"as2glc","func":"msg.token = msg.payload.terms[0];\nvar well = msg.payload.terms[1];\nvar gln = msg.payload.terms[2];\nvar file = msg.payload.terms[3];\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${gln}\\\",\n      \\\"5.well\\\":\\\"${well}\\\",\n      \\\"3.ARQUIVO_ENTRADA\\\":\\\"${gln}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${file}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"addAS2GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["b9e1d32f.19b0e"]]},{"id":"b9e1d32f.19b0e","type":"http request","z":"1efd826c.6c451e","name":"run","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":580,"wires":[["ef9afcca.6f247"]]},{"id":"e8d0f455.d4a738","type":"comment","z":"1efd826c.6c451e","name":"AS2GLC","info":"","x":1000,"y":600,"wires":[]},{"id":"62651267.45d65c","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1491,"y":336,"wires":[["5567f765.468698"],["4494872b.b629e8"]]},{"id":"ef9afcca.6f247","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1373,"y":580,"wires":[["6f82afc5.8a8ca"],["9065f6d5.f484f8"]]},{"id":"6f82afc5.8a8ca","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1385,"y":526,"wires":[]},{"id":"d2dd18a5.b73a58","type":"function","z":"1efd826c.6c451e","name":"jobInfo","func":"msg.token = msg.payload.terms[0];\nvar jobId = msg.payload.terms[1];\nmsg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs/${jobId}`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":780,"wires":[["71237250.5fd03c"]]},{"id":"84163873.0f8cd8","type":"comment","z":"1efd826c.6c451e","name":"JOB_INFO","info":"","x":1000,"y":733,"wires":[]},{"id":"71237250.5fd03c","type":"http request","z":"1efd826c.6c451e","name":"jobInfo","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":780,"wires":[["d40f5842.a0c298"]]},{"id":"d40f5842.a0c298","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1233,"y":780,"wires":[["37e5a926.5bbd66"],["6ca1eb1f.2a3514"]]},{"id":"37e5a926.5bbd66","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":720,"wires":[]},{"id":"6ca1eb1f.2a3514","type":"json","z":"1efd826c.6c451e","name":"","property":"payload","action":"","pretty":false,"x":1388,"y":780,"wires":[["3357960f.18b6ea"]]},{"id":"6d99c86e.4db608","type":"base64","z":"1efd826c.6c451e","name":"","action":"str","property":"file64","x":1140,"y":940,"wires":[["2da0c802.03f5d8"]]},{"id":"c1b82b81.3e58b8","type":"function","z":"1efd826c.6c451e","name":"getLink","func":"msg.token = msg.payload.terms[0];\nvar gln = msg.payload.terms[1];\nlet envpath = env.get('MARLIM_PATH');\nif (envpath.indexOf(\"/\") >= 0){\n    msg.filename = `${env.get('MARLIM_PATH')}/${gln}`; // N-WINDOWS\n}else{\n    msg.filename = `${env.get('MARLIM_PATH')}\\\\\\\\${gln}`; // WINDOWS\n}\nmsg.file64 = gln;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":940,"wires":[["6d99c86e.4db608"]]},{"id":"bebdec25.79f5e","type":"comment","z":"1efd826c.6c451e","name":"DOWNLOAD","info":"","x":1010,"y":893,"wires":[]},{"id":"5aae964b.fc2de8","type":"http request","z":"1efd826c.6c451e","name":"getLink","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1440,"y":940,"wires":[["45bdf144.18347"]]},{"id":"45bdf144.18347","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1573,"y":940,"wires":[["e15d65fc.babd68"],["f18c5350.4237"]]},{"id":"e15d65fc.babd68","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":880,"wires":[]},{"id":"46f69e60.13596","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":700,"wires":[]},{"id":"271e8eb4.bafea2","type":"json","z":"1efd826c.6c451e","name":"","property":"payload","action":"","pretty":false,"x":1370,"y":200,"wires":[["e11e1302.0b481"]]},{"id":"e11e1302.0b481","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.tokenType}${msg.payload.accessToken}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":200,"wires":[["30f7a3ee.bdc31c"]]},{"id":"30f7a3ee.bdc31c","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1690,"y":200,"wires":[]},{"id":"4494872b.b629e8","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":340,"wires":[["ae21b5b4.d734e8"]]},{"id":"ae21b5b4.d734e8","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1830,"y":340,"wires":[]},{"id":"9a503ee2.30a1d","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1725,"y":580,"wires":[]},{"id":"3357960f.18b6ea","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.state}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1554,"y":780,"wires":[["c9f068c2.2538d8"]]},{"id":"c9f068c2.2538d8","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1714,"y":780,"wires":[]},{"id":"9065f6d5.f484f8","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1559,"y":580,"wires":[["9a503ee2.30a1d"]]},{"id":"f18c5350.4237","type":"subflow:c04461a8.fbdff","z":"1efd826c.6c451e","name":"","env":[],"x":1740,"y":940,"wires":[["393798b2.82e458"]]},{"id":"393798b2.82e458","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":940,"wires":[["f30b1c77.6e5c6"]]},{"id":"f30b1c77.6e5c6","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":2070,"y":940,"wires":[]},{"id":"7c516681.041ab8","type":"function","z":"1efd826c.6c451e","name":"","func":"msg.origin = `${env.get('HOST')}:${env.get('PORT')}`;\nmsg.project = env.get('PROJECT');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["5e2e04e5.e0929c"]]},{"id":"2da0c802.03f5d8","type":"function","z":"1efd826c.6c451e","name":"","func":"msg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/${msg.file64}/link`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":940,"wires":[["5aae964b.fc2de8"]]},{"id":"5e2e04e5.e0929c","type":"base64","z":"1efd826c.6c451e","name":"","action":"str","property":"project","x":540,"y":580,"wires":[["32958ff8.a6e1b"]]},{"id":"7d32f948.917548","type":"function","z":"1efd826c.6c451e","name":"MC_AS","func":"msg.token = msg.payload.terms[0];\nvar mr2 = msg.payload.terms[1];\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"ENTRADA\\\":\\\"${mr2}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"MC_AS\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[["b9e1d32f.19b0e"]]},{"id":"5e55269b.598f08","type":"comment","z":"1efd826c.6c451e","name":"MC_AS","info":"","x":990,"y":460,"wires":[]},{"id":"11e9f93a.731a27","type":"http in","z":"3c58ad8b.3ad9a2","name":"Dummy MQTT","url":"/mqtt","method":"post","upload":false,"swaggerDoc":"","x":140,"y":820,"wires":[["4463f63.4ec1e08"]]},{"id":"4463f63.4ec1e08","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":820,"wires":[["85aa95c5.d92e28","63e53045.6c695"],["13fbce40.45ef42"]]},{"id":"13fbce40.45ef42","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":880,"wires":[]},{"id":"25245874.285578","type":"json","z":"37423808.3a2938","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["a45453e5.af271"]]},{"id":"29ca3b1e.d0bf04","type":"http request","z":"37423808.3a2938","name":"download","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":140,"wires":[["e0821ada.57e768"]]},{"id":"a45453e5.af271","type":"change","z":"37423808.3a2938","name":"url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["29ca3b1e.d0bf04"]]},{"id":"e0821ada.57e768","type":"file","z":"37423808.3a2938","name":"dowload","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":140,"wires":[["6947ba5b.ba5aa4"]]},{"id":"6947ba5b.ba5aa4","type":"switch","z":"37423808.3a2938","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["de4fe8af.35c9b8"],[]]},{"id":"de4fe8af.35c9b8","type":"debug","z":"37423808.3a2938","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"ce17d197.a5cb9","type":"http request","z":"7f227e0b.8bea7","name":"create_art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":420,"wires":[["2371ae14.6dc832"]]},{"id":"a594c2cf.25e69","type":"function","z":"7f227e0b.8bea7","name":"create_art","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_1')}`;\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["ce17d197.a5cb9"]]},{"id":"3ab49ea3.34bb82","type":"function","z":"7f227e0b.8bea7","name":"register_uri","func":"msg.method = 'POST';\nmsg.payload = `[\\\"http://localhost:1880/${env.get('ART_NAME')}\\\"]`;\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME')}/operations/register/execute`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["100db91f.4b4817"]]},{"id":"100db91f.4b4817","type":"http request","z":"7f227e0b.8bea7","name":"register_uri","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":420,"wires":[["efa6ce59.179db"]]},{"id":"2371ae14.6dc832","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"num"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":420,"wires":[["e054a3a6.71059"],["3ab49ea3.34bb82"]]},{"id":"e054a3a6.71059","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":360,"wires":[]},{"id":"efa6ce59.179db","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":420,"wires":[["e86333cf.3a50b"],["f7831b74.d00af8"]]},{"id":"e86333cf.3a50b","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":360,"wires":[]},{"id":"1e737034.4ea98","type":"function","z":"7f227e0b.8bea7","name":"create_ws","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":102,"wires":[["32a3bd8a.346732"]]},{"id":"32a3bd8a.346732","type":"http request","z":"7f227e0b.8bea7","name":"create_ws","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":102,"wires":[["414050db.dfd5b"]]},{"id":"414050db.dfd5b","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"num"},{"t":"eq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":102,"wires":[["6786fc29.62ca34"],["83fefc43.22e29"]]},{"id":"6786fc29.62ca34","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":42,"wires":[]},{"id":"c52b21c8.16117","type":"link in","z":"7f227e0b.8bea7","name":"","links":["757d47c.5503bb8"],"x":66,"y":420,"wires":[["a594c2cf.25e69"]]},{"id":"83fefc43.22e29","type":"link out","z":"7f227e0b.8bea7","name":"","links":["736b4e64.859aa"],"x":615,"y":102,"wires":[]},{"id":"48bb3c1d.94ca64","type":"comment","z":"7f227e0b.8bea7","name":"CREATE WORKSPACE","info":"","x":180,"y":42,"wires":[]},{"id":"21ed8bd6.2e6ee4","type":"comment","z":"7f227e0b.8bea7","name":"CREATE DUMMY BR-SIOP","info":"","x":191,"y":360,"wires":[]},{"id":"43820456.658c6c","type":"comment","z":"7f227e0b.8bea7","name":"CREATE DUMMY MARLIM","info":"","x":190,"y":680,"wires":[]},{"id":"e62fed9.0c1df1","type":"comment","z":"7f227e0b.8bea7","name":"CREATE DUMMY MPA","info":"","x":180,"y":520,"wires":[]},{"id":"f7831b74.d00af8","type":"function","z":"7f227e0b.8bea7","name":"focus","func":"var content = `jcm::focus_env_art(art_env(${env.get('WORKSPACE')},local,${env.get('ART_NAME_1')},_),5)`;\nvar receiver = `ag_${env.get('ART_NAME_1')}`;\nmsg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1061,"y":420,"wires":[["7ad52506.eea39c"]]},{"id":"7ad52506.eea39c","type":"http request","z":"7f227e0b.8bea7","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1191,"y":420,"wires":[["ecd5d6c3.1a8628"]]},{"id":"ecd5d6c3.1a8628","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1321,"y":420,"wires":[["740aefc4.a0a38"],["8d7d5de5.9d385"]]},{"id":"740aefc4.a0a38","type":"debug","z":"7f227e0b.8bea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1321,"y":360,"wires":[]},{"id":"f42c0cd9.f2c74","type":"http request","z":"7f227e0b.8bea7","name":"create_art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":740,"wires":[["475cd2e7.ab114c"]]},{"id":"ea5b00d5.10ecc","type":"function","z":"7f227e0b.8bea7","name":"create_art","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_2')}`;\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":740,"wires":[["f42c0cd9.f2c74"]]},{"id":"31ecfa60.0605a6","type":"function","z":"7f227e0b.8bea7","name":"register_uri","func":"msg.method = 'POST';\nmsg.payload = `[\\\"http://localhost:1880/${env.get('ART_NAME_2')}\\\"]`;\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_2')}/operations/register/execute`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":740,"wires":[["5c905bd.f75cba4"]]},{"id":"5c905bd.f75cba4","type":"http request","z":"7f227e0b.8bea7","name":"register_uri","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":740,"wires":[["fa682a1c.5eadf8"]]},{"id":"475cd2e7.ab114c","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"num"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":740,"wires":[["b31809e3.68e7b8"],["31ecfa60.0605a6"]]},{"id":"b31809e3.68e7b8","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":680,"wires":[]},{"id":"fa682a1c.5eadf8","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":740,"wires":[["15bca8ba.83a2d7"],["f02d5640.031988"]]},{"id":"15bca8ba.83a2d7","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":680,"wires":[]},{"id":"f02d5640.031988","type":"function","z":"7f227e0b.8bea7","name":"focus","func":"var content = `jcm::focus_env_art(art_env(${env.get('WORKSPACE')},local,${env.get('ART_NAME_2')},_),5)`;\nvar receiver = `ag_${env.get('ART_NAME_2')}`;\nmsg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1081,"y":740,"wires":[["b161f6aa.2f93b8"]]},{"id":"b161f6aa.2f93b8","type":"http request","z":"7f227e0b.8bea7","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1211,"y":740,"wires":[["739fe066.33211"]]},{"id":"739fe066.33211","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1341,"y":740,"wires":[["b15f3ae7.913b58"],["818f2a15.534478"]]},{"id":"b15f3ae7.913b58","type":"debug","z":"7f227e0b.8bea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":680,"wires":[]},{"id":"ceb70219.20bca","type":"link in","z":"7f227e0b.8bea7","name":"","links":["8d7d5de5.9d385"],"x":75,"y":580,"wires":[["5ffd9548.7e200c"]]},{"id":"8d7d5de5.9d385","type":"link out","z":"7f227e0b.8bea7","name":"","links":["ceb70219.20bca"],"x":1446,"y":420,"wires":[]},{"id":"716fb865.da1cf8","type":"http request","z":"7f227e0b.8bea7","name":"create_art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":329,"y":580,"wires":[["84753271.c337f"]]},{"id":"5ffd9548.7e200c","type":"function","z":"7f227e0b.8bea7","name":"create_art","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_3')}`;\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":580,"wires":[["716fb865.da1cf8"]]},{"id":"8c0edf45.adbb9","type":"function","z":"7f227e0b.8bea7","name":"register_uri","func":"msg.method = 'POST';\nmsg.payload = `[\\\"http://localhost:1880/${env.get('ART_NAME_3')}\\\"]`;\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_3')}/operations/register/execute`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;\n","outputs":1,"noerr":0,"x":639,"y":580,"wires":[["30d865c7.25b3ca"]]},{"id":"30d865c7.25b3ca","type":"http request","z":"7f227e0b.8bea7","name":"register_uri","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":799,"y":580,"wires":[["538809e2.9ab9f8"]]},{"id":"84753271.c337f","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"num"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":479,"y":580,"wires":[["270a4b28.278374"],["8c0edf45.adbb9"]]},{"id":"270a4b28.278374","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":479,"y":520,"wires":[]},{"id":"538809e2.9ab9f8","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":939,"y":580,"wires":[["3fc9ba97.57ba46"],["e200871c.a003f8"]]},{"id":"3fc9ba97.57ba46","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":919,"y":520,"wires":[]},{"id":"e200871c.a003f8","type":"function","z":"7f227e0b.8bea7","name":"focus","func":"var content = `jcm::focus_env_art(art_env(${env.get('WORKSPACE')},local,${env.get('ART_NAME_3')},_),5)`;\nvar receiver = `ag_${env.get('ART_NAME_3')}`;\nmsg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1090,"y":580,"wires":[["e00f167b.ac7b38"]]},{"id":"e00f167b.ac7b38","type":"http request","z":"7f227e0b.8bea7","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1220,"y":580,"wires":[["e5c4e3cf.b1224"]]},{"id":"e5c4e3cf.b1224","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":580,"wires":[["c217478f.f74a78"],["59eba45.947cf5c"]]},{"id":"c217478f.f74a78","type":"debug","z":"7f227e0b.8bea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":520,"wires":[]},{"id":"59eba45.947cf5c","type":"link out","z":"7f227e0b.8bea7","name":"","links":["289eb7df.05b4e8"],"x":1455,"y":580,"wires":[]},{"id":"289eb7df.05b4e8","type":"link in","z":"7f227e0b.8bea7","name":"","links":["59eba45.947cf5c"],"x":75,"y":740,"wires":[["ea5b00d5.10ecc"]]},{"id":"257f776e.b83db8","type":"http request","z":"7f227e0b.8bea7","name":"create_dummyAgent","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":260,"wires":[["ec521fc2.6424c"]]},{"id":"2805556f.923f5a","type":"function","z":"7f227e0b.8bea7","name":"create_agent","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/agents/${env.get('BOT')}?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://localhost:1880/${env.get('BOT')}\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":184,"y":260,"wires":[["257f776e.b83db8"]]},{"id":"ec521fc2.6424c","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":260,"wires":[["7f39dd77.5eb1b4"],["757d47c.5503bb8"]]},{"id":"7f39dd77.5eb1b4","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":200,"wires":[]},{"id":"45c039ae.11a528","type":"comment","z":"7f227e0b.8bea7","name":"CREATE DUMMY TEAMS AGENT","info":"","x":220,"y":200,"wires":[]},{"id":"757d47c.5503bb8","type":"link out","z":"7f227e0b.8bea7","name":"","links":["c52b21c8.16117"],"x":715,"y":260,"wires":[]},{"id":"736b4e64.859aa","type":"link in","z":"7f227e0b.8bea7","name":"","links":["83fefc43.22e29"],"x":75,"y":260,"wires":[["2805556f.923f5a"]]},{"id":"818f2a15.534478","type":"function","z":"7f227e0b.8bea7","name":"Signal","func":"msg.method = 'POST';\nmsg.url = `${env.get('API_HOST')}:${env.get('API_PORT')}/workspaces/${env.get('WORKSPACE')}/artifacts/${env.get('ART_NAME_2')}/operations/doSignal/execute`;\nmsg.payload = `[\"new_test\", null]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":740,"wires":[["c96f7e5d.a7eca"]]},{"id":"c96f7e5d.a7eca","type":"http request","z":"7f227e0b.8bea7","name":"Signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":740,"wires":[["33879af7.9c4e56"]]},{"id":"33879af7.9c4e56","type":"switch","z":"7f227e0b.8bea7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":740,"wires":[["a9a2daa6.eae408"]]},{"id":"a9a2daa6.eae408","type":"debug","z":"7f227e0b.8bea7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":740,"wires":[]},{"id":"56fba59a.66563c","type":"comment","z":"7f227e0b.8bea7","name":"SIGNAL NEW_TEST","info":"","x":1560,"y":680,"wires":[]},{"id":"8875ea2.40f7918","type":"mqtt out","z":"3c58ad8b.3ad9a2","name":"","topic":"mqtt/user/notes","qos":"2","retain":"","broker":"211fa4a3.5ef86c","x":780,"y":820,"wires":[]},{"id":"63e9ae72.4abe","type":"http response","z":"3c58ad8b.3ad9a2","name":"","statusCode":"","headers":{},"x":850,"y":920,"wires":[]},{"id":"34b532e7.d12e7e","type":"mqtt in","z":"3c58ad8b.3ad9a2","name":"","topic":"mqtt/user/inbox","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":180,"y":260,"wires":[["e932ffc1.a2fa"]]},{"id":"3e9f0cef.c88b74","type":"function","z":"cc7f5875.bf8708","name":"start","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"start\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["fc11d980.4ecb08"]]},{"id":"fc11d980.4ecb08","type":"http request","z":"cc7f5875.bf8708","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":120,"wires":[["2a71f1d2.d4198e"]]},{"id":"2a71f1d2.d4198e","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":120,"wires":[["c4854c26.05994"]]},{"id":"c4854c26.05994","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":120,"wires":[]},{"id":"d914466f.e80558","type":"http request","z":"cc7f5875.bf8708","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":120,"wires":[["17479174.b8fd6f"]]},{"id":"77bba2d4.dd911c","type":"function","z":"cc7f5875.bf8708","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/mqtt?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"${global.get(\"originNodered\")}/mqtt\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["d914466f.e80558"]]},{"id":"17479174.b8fd6f","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"},{"t":"eq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":120,"wires":[["623ec206.2344ec"],["3e9f0cef.c88b74"]]},{"id":"623ec206.2344ec","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":60,"wires":[]},{"id":"5c146653.7e0a98","type":"http request","z":"cc7f5875.bf8708","name":"dummy art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":200,"wires":[["ee7fe59f.837f78"]]},{"id":"7dd36c88.75dc34","type":"function","z":"cc7f5875.bf8708","name":"dummy art","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt`;\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["5c146653.7e0a98"]]},{"id":"ee7fe59f.837f78","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"neq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":200,"wires":[["8e99e6c5.28deb8"],["2d75e97e.84dd26"]]},{"id":"2d75e97e.84dd26","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":260,"wires":[]},{"id":"68be5d57.ffa214","type":"function","z":"cc7f5875.bf8708","name":"","func":"global.set(\"originBob\", `${env.get('host_bob')}:${env.get('port_bob')}`);\nglobal.set(\"originAlice\", `${env.get('host_alice')}:${env.get('port_alice')}`);\nglobal.set(\"originNodered\", `${env.get('host_nodered')}:${env.get('port_nodered')}`);\nreturn msg","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["77bba2d4.dd911c","7dd36c88.75dc34"]]},{"id":"847c7183.eb523","type":"http request","z":"cc7f5875.bf8708","name":"register","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":200,"wires":[["38647065.cb607"]]},{"id":"8e99e6c5.28deb8","type":"function","z":"cc7f5875.bf8708","name":"register","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/register/execute`;\nmsg.payload = `[\\\"${global.get(\"originNodered\")}/mqtt\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["847c7183.eb523"]]},{"id":"38647065.cb607","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":200,"wires":[["cb2bd127.a01da"],["60fa29ac.aecec8"]]},{"id":"60fa29ac.aecec8","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":260,"wires":[]},{"id":"cb2bd127.a01da","type":"function","z":"cc7f5875.bf8708","name":"focus","func":"msg.method = 'POST';\"\"\nmsg.url = `${global.get(\"originBob\")}/agents/bob/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"bob\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"focus(mqtt,main)\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1410,"y":200,"wires":[["5c1303f0.294a6c"]]},{"id":"5c1303f0.294a6c","type":"http request","z":"cc7f5875.bf8708","name":"focus","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":200,"wires":[["fc2df1a9.ce478"]]},{"id":"7f1223d0.d662fc","type":"debug","z":"cc7f5875.bf8708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1830,"y":200,"wires":[]},{"id":"c94b09d4.cb25d8","type":"function","z":"cc7f5875.bf8708","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"mqtt\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"signal\\\", \\\"content\\\": \\\"${literal}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["9099544d.efb148"]]},{"id":"9099544d.efb148","type":"http request","z":"cc7f5875.bf8708","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":500,"wires":[["a78e13fd.11374"]]},{"id":"a78e13fd.11374","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":500,"wires":[["904a9d4f.2b381"]]},{"id":"904a9d4f.2b381","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":500,"wires":[]},{"id":"28d7b83e.fd82d8","type":"http request","z":"cc7f5875.bf8708","name":"obs prop","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":380,"wires":[["a91e9154.36edd"]]},{"id":"28392f22.2072f","type":"function","z":"cc7f5875.bf8708","name":"obs prop","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/doDefineObsProperty/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["28d7b83e.fd82d8"]]},{"id":"a91e9154.36edd","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":380,"wires":[["81d64e02.618b4"]]},{"id":"81d64e02.618b4","type":"debug","z":"cc7f5875.bf8708","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":380,"wires":[]},{"id":"fc2df1a9.ce478","type":"switch","z":"cc7f5875.bf8708","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1690,"y":200,"wires":[["7f1223d0.d662fc"]]},{"id":"c0a7cfd4.b5208","type":"mqtt in","z":"cc7f5875.bf8708","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"2aba50b.c4a19b","x":180,"y":380,"wires":[["28392f22.2072f"]]},{"id":"bccfc8dc.b91a58","type":"mqtt in","z":"cc7f5875.bf8708","name":"","topic":"mqtt/jacamo/alice","qos":"2","datatype":"auto","broker":"2aba50b.c4a19b","x":180,"y":500,"wires":[["c94b09d4.cb25d8"]]},{"id":"3906a3e4.f564cc","type":"comment","z":"cc7f5875.bf8708","name":"messages to bob","info":"","x":180,"y":340,"wires":[]},{"id":"54f1c9a3.1ccf18","type":"comment","z":"cc7f5875.bf8708","name":"messages to alice","info":"","x":190,"y":460,"wires":[]},{"id":"5d809a61.920cf4","type":"mqtt out","z":"cc7f5875.bf8708","name":"","topic":"","qos":"2","retain":"","broker":"2aba50b.c4a19b","x":710,"y":700,"wires":[]},{"id":"ef0079cc.f35cc8","type":"comment","z":"cc7f5875.bf8708","name":"mqtt server","info":"","x":720,"y":660,"wires":[]},{"id":"8358a864.2cccb8","type":"http in","z":"cc7f5875.bf8708","name":"","url":"mqtt","method":"post","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["4fa3e648.a65fd8","a2601e59.9fe39","86790173.f5cf3"]]},{"id":"4fa3e648.a65fd8","type":"switch","z":"cc7f5875.bf8708","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["62d6d55c.f9234c"],["ec17ad82.d8f8c"]]},{"id":"62d6d55c.f9234c","type":"change","z":"cc7f5875.bf8708","name":"publish - bob","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.terms[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.terms[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":640,"wires":[["5d809a61.920cf4"]]},{"id":"ec17ad82.d8f8c","type":"function","z":"cc7f5875.bf8708","name":"publish - alice","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nvar functor = content.substring(0, content.search(\"\\\\(\"));\nvar args = content.substring(functor.length + 1, content.length - 1);\nvar s_args = args.split(\",\");\nmsg.topic = s_args[0];\nmsg.payload = s_args[1];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["5d809a61.920cf4"]]},{"id":"a2601e59.9fe39","type":"http response","z":"cc7f5875.bf8708","name":"","statusCode":"","headers":{},"x":170,"y":760,"wires":[]},{"id":"26ab8cd2.9184a4","type":"comment","z":"cc7f5875.bf8708","name":"dummies endpoint","info":"","x":190,"y":660,"wires":[]},{"id":"4e05a196.4edd4","type":"comment","z":"cc7f5875.bf8708","name":"create dummy agent","info":"","x":490,"y":80,"wires":[]},{"id":"50a08470.cc9a5c","type":"comment","z":"cc7f5875.bf8708","name":"create dummy artifact","info":"","x":500,"y":240,"wires":[]},{"id":"6f67bee4.15c0c","type":"switch","z":"cc7f5875.bf8708","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dummy","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1510,"y":600,"wires":[[]]},{"id":"86790173.f5cf3","type":"debug","z":"cc7f5875.bf8708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":860,"wires":[]},{"id":"7a5f58c4.629068","type":"http request","z":"3c58ad8b.3ad9a2","name":"signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["451cb3ad.9d9d8c"]]},{"id":"e932ffc1.a2fa","type":"function","z":"3c58ad8b.3ad9a2","name":"signal","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/workspaces/dummy/artifacts/mqtt/operations/doSignal/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["7a5f58c4.629068"]]},{"id":"451cb3ad.9d9d8c","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":260,"wires":[["156d9d73.71a093"]]},{"id":"156d9d73.71a093","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":260,"wires":[]},{"id":"73540028.874","type":"function","z":"3c58ad8b.3ad9a2","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"mqtt\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"signal\\\", \\\"content\\\": \\\"${literal}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1950,"y":440,"wires":[["d858adc.9290b5"]]},{"id":"d858adc.9290b5","type":"http request","z":"3c58ad8b.3ad9a2","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2110,"y":440,"wires":[["76b62011.5874e"]]},{"id":"76b62011.5874e","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2250,"y":440,"wires":[["6d4fde2d.8b42e"]]},{"id":"6d4fde2d.8b42e","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2410,"y":440,"wires":[]},{"id":"1523221e.a0805e","type":"http request","z":"3c58ad8b.3ad9a2","name":"obs prop","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2120,"y":320,"wires":[["f88fef56.fc21c"]]},{"id":"46d6bc7e.2e2234","type":"function","z":"3c58ad8b.3ad9a2","name":"obs prop","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/doDefineObsProperty/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1960,"y":320,"wires":[["1523221e.a0805e"]]},{"id":"f88fef56.fc21c","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":320,"wires":[["22341b39.b7f9e4"]]},{"id":"22341b39.b7f9e4","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2410,"y":320,"wires":[]},{"id":"77331b5b.99d1a4","type":"mqtt in","z":"3c58ad8b.3ad9a2","d":true,"name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"2aba50b.c4a19b","x":1740,"y":320,"wires":[["46d6bc7e.2e2234"]]},{"id":"9cede394.38a4f","type":"mqtt in","z":"3c58ad8b.3ad9a2","d":true,"name":"","topic":"mqtt/jacamo/alice","qos":"2","datatype":"auto","broker":"2aba50b.c4a19b","x":1740,"y":440,"wires":[["73540028.874"]]},{"id":"c28e3a52.dee068","type":"comment","z":"3c58ad8b.3ad9a2","name":"messages to bob","info":"","x":1740,"y":280,"wires":[]},{"id":"80f23fbd.a2a0b","type":"comment","z":"3c58ad8b.3ad9a2","name":"messages to alice","info":"","x":1750,"y":400,"wires":[]},{"id":"e372a142.3998c","type":"mqtt out","z":"3c58ad8b.3ad9a2","d":true,"name":"","topic":"","qos":"2","retain":"","broker":"2aba50b.c4a19b","x":2270,"y":640,"wires":[]},{"id":"6592b60c.be9f58","type":"comment","z":"3c58ad8b.3ad9a2","name":"mqtt server","info":"","x":2280,"y":600,"wires":[]},{"id":"47795783.ea8de8","type":"http in","z":"3c58ad8b.3ad9a2","d":true,"name":"","url":"mqtt","method":"post","upload":false,"swaggerDoc":"","x":1720,"y":640,"wires":[["1ea87a79.686ca6","7b8277d6.b5ff68","96553a11.d58398"]]},{"id":"1ea87a79.686ca6","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":640,"wires":[["7c1f024c.1fe7ac"],["ec85fd1c.78e2d"]]},{"id":"7c1f024c.1fe7ac","type":"change","z":"3c58ad8b.3ad9a2","name":"publish - bob","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.terms[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.terms[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":580,"wires":[["e372a142.3998c"]]},{"id":"ec85fd1c.78e2d","type":"function","z":"3c58ad8b.3ad9a2","name":"publish - alice","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nvar functor = content.substring(0, content.search(\"\\\\(\"));\nvar args = content.substring(functor.length + 1, content.length - 1);\nvar s_args = args.split(\",\");\nmsg.topic = s_args[0];\nmsg.payload = s_args[1];\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":700,"wires":[["e372a142.3998c"]]},{"id":"7b8277d6.b5ff68","type":"http response","z":"3c58ad8b.3ad9a2","name":"","statusCode":"","headers":{},"x":1730,"y":700,"wires":[]},{"id":"e562eee4.e4fc7","type":"comment","z":"3c58ad8b.3ad9a2","name":"dummies endpoint","info":"","x":1750,"y":600,"wires":[]},{"id":"96553a11.d58398","type":"debug","z":"3c58ad8b.3ad9a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1870,"y":800,"wires":[]},{"id":"85aa95c5.d92e28","type":"change","z":"3c58ad8b.3ad9a2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.terms[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[["8875ea2.40f7918","ad5fcb52.8ab7f8"]]},{"id":"ad5fcb52.8ab7f8","type":"debug","z":"3c58ad8b.3ad9a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":720,"wires":[]},{"id":"63e53045.6c695","type":"change","z":"3c58ad8b.3ad9a2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":900,"wires":[["63e9ae72.4abe"]]},{"id":"406bd2df.30e50c","type":"comment","z":"3c58ad8b.3ad9a2","name":"MQTT > Agent","info":"","x":180,"y":220,"wires":[]},{"id":"d2c6edd8.16252","type":"function","z":"52dc3f3e.f0676","name":"start","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"start\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["dfce08d0.657a18"]]},{"id":"dfce08d0.657a18","type":"http request","z":"52dc3f3e.f0676","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":120,"wires":[["d2415dbe.c13ab"]]},{"id":"d2415dbe.c13ab","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":120,"wires":[["a971c54a.53bbd8"]]},{"id":"a971c54a.53bbd8","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":120,"wires":[]},{"id":"4e58646b.8329ec","type":"http request","z":"52dc3f3e.f0676","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":120,"wires":[["86797698.bbb4f8"]]},{"id":"840060c6.cf646","type":"function","z":"52dc3f3e.f0676","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/mqtt?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"${global.get(\"originNodered\")}/mqtt\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["4e58646b.8329ec"]]},{"id":"86797698.bbb4f8","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"},{"t":"eq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":120,"wires":[["711cc0b.caa4c4"],["d2c6edd8.16252"]]},{"id":"711cc0b.caa4c4","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":60,"wires":[]},{"id":"8f1d061d.5cdb68","type":"http request","z":"52dc3f3e.f0676","name":"dummy art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":200,"wires":[["e80be2b2.9ae6f"]]},{"id":"3e57c56d.783eea","type":"function","z":"52dc3f3e.f0676","name":"dummy art","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt`;\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["8f1d061d.5cdb68"]]},{"id":"e80be2b2.9ae6f","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"neq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":200,"wires":[["260b15dd.c2a6ca"],["c1e6b02f.b4131"]]},{"id":"c1e6b02f.b4131","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":260,"wires":[]},{"id":"a58cc319.1d7dc","type":"function","z":"52dc3f3e.f0676","name":"","func":"global.set(\"originBob\", `${env.get('host_bob')}:${env.get('port_bob')}`);\nglobal.set(\"originAlice\", `${env.get('host_alice')}:${env.get('port_alice')}`);\nglobal.set(\"originNodered\", `${env.get('host_nodered')}:${env.get('port_nodered')}`);\nreturn msg","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["840060c6.cf646","3e57c56d.783eea"]]},{"id":"6df3ea13.c56284","type":"http request","z":"52dc3f3e.f0676","name":"register","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":200,"wires":[["a829c5c7.fa1628"]]},{"id":"260b15dd.c2a6ca","type":"function","z":"52dc3f3e.f0676","name":"register","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/register/execute`;\nmsg.payload = `[\\\"${global.get(\"originNodered\")}/mqtt\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["6df3ea13.c56284"]]},{"id":"a829c5c7.fa1628","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":200,"wires":[["63c2488b.26e178"],["fab3e2d6.a7ed3"]]},{"id":"fab3e2d6.a7ed3","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":260,"wires":[]},{"id":"63c2488b.26e178","type":"function","z":"52dc3f3e.f0676","name":"focus","func":"msg.method = 'POST';\"\"\nmsg.url = `${global.get(\"originBob\")}/agents/bob/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"bob\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"focus(mqtt,main)\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1410,"y":200,"wires":[["5ed7518f.ee979"]]},{"id":"5ed7518f.ee979","type":"http request","z":"52dc3f3e.f0676","name":"focus","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":200,"wires":[["2f7bf8bc.808808"]]},{"id":"bc616d03.2c73c","type":"debug","z":"52dc3f3e.f0676","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1830,"y":200,"wires":[]},{"id":"98903d7.75134c","type":"function","z":"52dc3f3e.f0676","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"mqtt\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"signal\\\", \\\"content\\\": \\\"${literal}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["9ec5b856.bc5328"]]},{"id":"9ec5b856.bc5328","type":"http request","z":"52dc3f3e.f0676","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":500,"wires":[["2ea052c.4b004ae"]]},{"id":"2ea052c.4b004ae","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":500,"wires":[["9e031004.bbc3c"]]},{"id":"9e031004.bbc3c","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":500,"wires":[]},{"id":"87cc3036.c30a6","type":"http request","z":"52dc3f3e.f0676","name":"obs prop","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":380,"wires":[["f1efcea.53bef3"]]},{"id":"fc639fcb.5d02d","type":"function","z":"52dc3f3e.f0676","name":"obs prop","func":"msg.method = 'POST';\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/doDefineObsProperty/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["87cc3036.c30a6"]]},{"id":"f1efcea.53bef3","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":380,"wires":[["7dbd3f1e.028dc"]]},{"id":"7dbd3f1e.028dc","type":"debug","z":"52dc3f3e.f0676","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":380,"wires":[]},{"id":"2f7bf8bc.808808","type":"switch","z":"52dc3f3e.f0676","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1690,"y":200,"wires":[["bc616d03.2c73c"]]},{"id":"663331d1.9a76f","type":"mqtt in","z":"52dc3f3e.f0676","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"652a1ad8.785404","x":180,"y":380,"wires":[["fc639fcb.5d02d"]]},{"id":"5fe3eca9.caefa4","type":"mqtt in","z":"52dc3f3e.f0676","name":"","topic":"mqtt/jacamo/alice","qos":"2","datatype":"auto","broker":"652a1ad8.785404","x":180,"y":500,"wires":[["98903d7.75134c"]]},{"id":"a8f56122.a24be","type":"comment","z":"52dc3f3e.f0676","name":"messages to bob","info":"","x":180,"y":340,"wires":[]},{"id":"2799ef.62b7e612","type":"comment","z":"52dc3f3e.f0676","name":"messages to alice","info":"","x":190,"y":460,"wires":[]},{"id":"7a94f9a5.121508","type":"mqtt out","z":"52dc3f3e.f0676","name":"","topic":"","qos":"2","retain":"","broker":"652a1ad8.785404","x":710,"y":700,"wires":[]},{"id":"b86f3b86.005dd8","type":"comment","z":"52dc3f3e.f0676","name":"mqtt server","info":"","x":720,"y":660,"wires":[]},{"id":"58ceeb35.11c194","type":"http in","z":"52dc3f3e.f0676","name":"","url":"mqtt","method":"post","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["a928ae93.68f41","41dddbd9.7dde64","3c1725a8.efdaea"]]},{"id":"a928ae93.68f41","type":"switch","z":"52dc3f3e.f0676","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["7319b106.8bff4"],["de9be209.76855"]]},{"id":"7319b106.8bff4","type":"change","z":"52dc3f3e.f0676","name":"publish - bob","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.terms[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.terms[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":640,"wires":[["7a94f9a5.121508"]]},{"id":"de9be209.76855","type":"function","z":"52dc3f3e.f0676","name":"publish - alice","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nvar functor = content.substring(0, content.search(\"\\\\(\"));\nvar args = content.substring(functor.length + 1, content.length - 1);\nvar s_args = args.split(\",\");\nmsg.topic = s_args[0];\nmsg.payload = s_args[1];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["7a94f9a5.121508"]]},{"id":"41dddbd9.7dde64","type":"http response","z":"52dc3f3e.f0676","name":"","statusCode":"","headers":{},"x":170,"y":760,"wires":[]},{"id":"1bfedb0a.555bf5","type":"comment","z":"52dc3f3e.f0676","name":"dummies endpoint","info":"","x":190,"y":660,"wires":[]},{"id":"79a2b447.89904c","type":"comment","z":"52dc3f3e.f0676","name":"create dummy agent","info":"","x":490,"y":80,"wires":[]},{"id":"aab06392.2dcb7","type":"comment","z":"52dc3f3e.f0676","name":"create dummy artifact","info":"","x":500,"y":240,"wires":[]},{"id":"42b2cb23.fe37d4","type":"switch","z":"52dc3f3e.f0676","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dummy","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1510,"y":600,"wires":[[]]},{"id":"3c1725a8.efdaea","type":"debug","z":"52dc3f3e.f0676","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":860,"wires":[]},{"id":"a765123f.86f67","type":"http request","z":"3c58ad8b.3ad9a2","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":120,"wires":[["a2a75d4e.3ead3"]]},{"id":"a332e738.ac8208","type":"function","z":"3c58ad8b.3ad9a2","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/user?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://localhost:1880/user\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["a765123f.86f67"]]},{"id":"a2a75d4e.3ead3","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":120,"wires":[["7f8004fc.abfccc"]]},{"id":"7f8004fc.abfccc","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":120,"wires":[]},{"id":"ab28ecec.748eb","type":"comment","z":"3c58ad8b.3ad9a2","name":"create dummy agent","info":"","x":410,"y":80,"wires":[]},{"id":"6e2470b4.0b7e1","type":"inject","z":"3c58ad8b.3ad9a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["a332e738.ac8208"]]},{"id":"b89b4bc8.443358","type":"comment","z":"3c58ad8b.3ad9a2","name":"Agent > User","info":"","x":170,"y":360,"wires":[]},{"id":"5a7b94d5.b51dac","type":"http in","z":"3c58ad8b.3ad9a2","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["325b73c8.67027c","9ae88888.f2df98"]]},{"id":"67741ce8.94aca4","type":"telegram sender","z":"3c58ad8b.3ad9a2","name":"","bot":"7ee08a6b.0e2414","x":690,"y":400,"wires":[["61214168.8bb09"]]},{"id":"b5a35c29.c1bec","type":"function","z":"3c58ad8b.3ad9a2","name":"","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nmsg.payload = {}\nmsg.payload.chatId = 894318217;\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["67741ce8.94aca4"]]},{"id":"61214168.8bb09","type":"debug","z":"3c58ad8b.3ad9a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":400,"wires":[]},{"id":"325b73c8.67027c","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"payload.sender","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":400,"wires":[["b5a35c29.c1bec"],["186befa4.0d7d3"]]},{"id":"186befa4.0d7d3","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":460,"wires":[]},{"id":"9ae88888.f2df98","type":"http response","z":"3c58ad8b.3ad9a2","name":"","statusCode":"","headers":{},"x":190,"y":460,"wires":[]},{"id":"8bde4ad3.273888","type":"comment","z":"3c58ad8b.3ad9a2","name":"User > Agent","info":"","x":170,"y":560,"wires":[]},{"id":"a42c5870.fded78","type":"telegram receiver","z":"3c58ad8b.3ad9a2","name":"","bot":"791bdfce.61b23","saveDataDir":"","filterCommands":false,"x":150,"y":600,"wires":[["ba1ae299.f1e6"],[]]},{"id":"5571729.a783b8c","type":"debug","z":"3c58ad8b.3ad9a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":540,"wires":[]},{"id":"ba1ae299.f1e6","type":"function","z":"3c58ad8b.3ad9a2","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload.content}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/bot/inbox`;\nmsg.payload = `{ \n                  \\\"sender\\\": \\\"user\\\", \n                  \\\"receiver\\\": \\\"bot\\\", \n                  \\\"performative\\\": \\\"signal\\\", \n                  \\\"content\\\": \\\"${literal}\\\", \n                  \\\"msgId\\\": \\\"13\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":610,"y":600,"wires":[["66b919ab.8857e8","5571729.a783b8c"]]},{"id":"66b919ab.8857e8","type":"http request","z":"3c58ad8b.3ad9a2","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":600,"wires":[["e4a6e070.26433"]]},{"id":"e4a6e070.26433","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":600,"wires":[["b6312268.a703e"]]},{"id":"b6312268.a703e","type":"debug","z":"3c58ad8b.3ad9a2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":600,"wires":[]},{"id":"53752bd0.6f5e44","type":"comment","z":"3c58ad8b.3ad9a2","name":"Agent > MQTT","info":"","x":160,"y":780,"wires":[]},{"id":"a928b621.129418","type":"mqtt in","z":"c79d192d.4f6148","name":"","topic":"${MY_TOPIC}","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":190,"y":80,"wires":[["3e2c95c3.d424aa"]]},{"id":"3e2c95c3.d424aa","type":"debug","z":"c79d192d.4f6148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":80,"wires":[]},{"id":"695a828e.8299dc","type":"subflow:c79d192d.4f6148","z":"3c58ad8b.3ad9a2","name":"","env":[{"name":"MY_TOPIC","value":"mqtt/${TEST}/env","type":"env"}],"x":1200,"y":260,"wires":[]},{"id":"736938bd.459778","type":"function","z":"1e7f0ff7.1d8e7","name":"translate_on_off","func":"var msg_out = {};\n\nif (msg.payload.occupancy) {\n    msg_out.payload = {state:\"ON\"};\n} else {\n    msg_out.payload = {state:\"OFF\"};\n}\n\nnode.send(msg_out);","outputs":1,"noerr":0,"x":438.6666793823242,"y":74.99998950958252,"wires":[["3c7cc0d0.529ee"]]},{"id":"3c7cc0d0.529ee","type":"function","z":"1e7f0ff7.1d8e7","name":"delay_off","func":"var timeout;\n\ntimeout = context.get('timeout');\nif (timeout) {\n    clearTimeout(timeout);\n    context.set('timeout', null);\n}\n\nif (msg.payload.state === \"ON\") {\n    node.send(msg);\n} else {\n    timeout = setTimeout(function() {\n        node.send(msg);\n    }, 1*60*1000);\n    context.set('timeout', timeout);\n}","outputs":1,"noerr":0,"x":635.6666831970215,"y":53.000003814697266,"wires":[["a6dc37d3.ecf408"]]},{"id":"a6dc37d3.ecf408","type":"rbe","z":"1e7f0ff7.1d8e7","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":811.6666831970215,"y":80.66668701171875,"wires":[["93790014.1ffbe","4b2d92fd.c651fc"]]},{"id":"93790014.1ffbe","type":"debug","z":"1e7f0ff7.1d8e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":714.0000228881836,"y":288.99999713897705,"wires":[]},{"id":"4b2d92fd.c651fc","type":"mqtt out","z":"1e7f0ff7.1d8e7","name":"lights_set","topic":"${LIGHTS_SET_TOPIC}","qos":"2","retain":"","broker":"28d25867.6c8638","x":1012.0001907348633,"y":129,"wires":[]},{"id":"80d03cb1.88b48","type":"mqtt in","z":"1e7f0ff7.1d8e7","name":"sensor","topic":"${SENSOR_TOPIC}","qos":"2","datatype":"json","broker":"28d25867.6c8638","x":218.00000762939453,"y":92.0000057220459,"wires":[["736938bd.459778","93790014.1ffbe"]]},{"id":"265d0faa.385a9","type":"inject","z":"3c58ad8b.3ad9a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":180,"wires":[[]]},{"id":"aa15a7a1.51cc28","type":"mqtt in","z":"5397fb57.8926f4","name":"","topic":"${ENV_TOPIC}/galo","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":200,"y":80,"wires":[["b57f004d.27ec6"]]},{"id":"b57f004d.27ec6","type":"debug","z":"5397fb57.8926f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":80,"wires":[]},{"id":"8e37a0ce.aa837","type":"subflow:5397fb57.8926f4","z":"14051890.1103d7","name":"","env":[{"name":"ENV_TOPIC","value":"otavio/mqtt/test","type":"str"}],"x":520,"y":220,"wires":[]},{"id":"b0c55685.fc2ba8","type":"subflow:1e7f0ff7.1d8e7","z":"3c58ad8b.3ad9a2","name":"","env":[],"x":1180,"y":760,"wires":[]}]