node-red/flows/flows.json
[{"id":"92c6fa73.238768","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"eeda08c8.8dc708","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"211fa4a3.5ef86c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2aba50b.c4a19b","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6272221.157e7","type":"telegram bot","z":"","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7ee08a6b.0e2414","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"791bdfce.61b23","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"652a1ad8.785404","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28d25867.6c8638","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11e48a5e.4b2606","type":"http request","z":"92c6fa73.238768","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":120,"wires":[["ae90c71f.1c8198"]]},{"id":"3011d482.09e6dc","type":"function","z":"92c6fa73.238768","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/user?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://localhost:1880/user\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["11e48a5e.4b2606"]]},{"id":"ae90c71f.1c8198","type":"switch","z":"92c6fa73.238768","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":120,"wires":[["bec9cc40.d2579"]]},{"id":"bec9cc40.d2579","type":"debug","z":"92c6fa73.238768","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":120,"wires":[]},{"id":"17ebb410.4d82ec","type":"comment","z":"92c6fa73.238768","name":"create dummy agent","info":"","x":390,"y":80,"wires":[]},{"id":"14734b7b.8e5bf5","type":"inject","z":"92c6fa73.238768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["3011d482.09e6dc"]]}]