node-red/flows/flows.json
[{"id":"92c6fa73.238768","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"8a140c94.9e6d4","type":"subflow","name":"mqtt","info":"","category":"","in":[],"out":[],"env":[{"name":"NAME","type":"str","value":""},{"name":"INBOX","type":"env","value":"mqtt/${NAME}/inbox","ui":{"type":"hide","opts":{}}},{"name":"BOT_NAME","type":"str","value":""},{"name":"BOT_TOKEN","type":"str","value":""},{"name":"CHAT_ID","type":"num","value":""}],"color":"#DDAA99"},{"id":"eeda08c8.8dc708","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"211fa4a3.5ef86c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2aba50b.c4a19b","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6272221.157e7","type":"telegram bot","z":"","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7ee08a6b.0e2414","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"791bdfce.61b23","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"652a1ad8.785404","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28d25867.6c8638","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"70ed6be2.a7b0c4","type":"telegram bot","z":"","botname":"Claudio","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8d52440b.74fc68","type":"telegram bot","z":"8a140c94.9e6d4","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"492df124.49409","type":"telegram bot","z":"8a140c94.9e6d4","botname":"{env.get(\"BOT_NAME\")}","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"11e48a5e.4b2606","type":"http request","z":"92c6fa73.238768","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["ae90c71f.1c8198"]]},{"id":"3011d482.09e6dc","type":"function","z":"92c6fa73.238768","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/agents/user?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://localhost:1880/user\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["11e48a5e.4b2606"]]},{"id":"ae90c71f.1c8198","type":"switch","z":"92c6fa73.238768","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":120,"wires":[["bec9cc40.d2579"]]},{"id":"bec9cc40.d2579","type":"debug","z":"92c6fa73.238768","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":120,"wires":[]},{"id":"17ebb410.4d82ec","type":"comment","z":"92c6fa73.238768","name":"create dummy agent","info":"","x":170,"y":80,"wires":[]},{"id":"14734b7b.8e5bf5","type":"inject","z":"92c6fa73.238768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["3011d482.09e6dc"]]},{"id":"92c63d58.74da4","type":"mqtt in","z":"8a140c94.9e6d4","name":"","topic":"${INBOX}","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":180,"y":120,"wires":[["9253c685.1f1da8"]]},{"id":"42cd2b73.b037a4","type":"http request","z":"8a140c94.9e6d4","name":"signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":120,"wires":[["acd220f8.ec78a"]]},{"id":"9253c685.1f1da8","type":"function","z":"8a140c94.9e6d4","name":"signal","func":"msg.method = 'POST';\nmsg.url = `http://192.168.1.102:8080/workspaces/dummy/artifacts/mqtt/operations/doSignal/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["42cd2b73.b037a4"]]},{"id":"acd220f8.ec78a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":120,"wires":[["a9dd252f.0fdb48"]]},{"id":"a9dd252f.0fdb48","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":120,"wires":[]},{"id":"3ea40478.17620c","type":"comment","z":"8a140c94.9e6d4","name":"MQTT > Agent","info":"","x":200,"y":80,"wires":[]},{"id":"29f45004.d8611","type":"subflow:8a140c94.9e6d4","z":"92c6fa73.238768","name":"","env":[{"name":"NAME","value":"otavio","type":"str"},{"name":"BOT_NAME","value":"Claudio","type":"str"},{"name":"BOT_TOKEN","value":"1344487748:AAFLqqD934hzjag5DepZREkNvSps56QmaAU","type":"str"},{"name":"CHAT_ID","value":"894318217","type":"num"}],"x":130,"y":200,"wires":[]},{"id":"54a74328.3d97ac","type":"comment","z":"8a140c94.9e6d4","name":"Agent > User","info":"","x":190,"y":220,"wires":[]},{"id":"f2f8190c.b3e0f8","type":"http in","z":"8a140c94.9e6d4","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":200,"y":260,"wires":[["121895f.f566b6a","393c50ee.0f9ed"]]},{"id":"5274f7e9.0588a8","type":"telegram sender","z":"8a140c94.9e6d4","name":"","bot":"492df124.49409","x":710,"y":260,"wires":[["c14e45f8.9b97f8"]]},{"id":"c14e45f8.9b97f8","type":"debug","z":"8a140c94.9e6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":260,"wires":[]},{"id":"121895f.f566b6a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"payload.sender","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["31f10410.ab7c3c"],["6716588.8bdb4a8"]]},{"id":"6716588.8bdb4a8","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":320,"wires":[]},{"id":"393c50ee.0f9ed","type":"http response","z":"8a140c94.9e6d4","name":"","statusCode":"","headers":{},"x":210,"y":320,"wires":[]},{"id":"31f10410.ab7c3c","type":"function","z":"8a140c94.9e6d4","name":"","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nmsg.payload = {}\n// msg.payload.chatId = 894318217;\n// msg.payload.chatId = `${CHAT_ID}`;\nmsg.payload.chatId = env.get('CHAT_ID');\nmsg.payload.type = 'message';\nmsg.payload.content = content;\n// msg.token = env.get('BOT_TOKEN');\n// msg.botName = env.get('BOT_NAME');\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["5274f7e9.0588a8"]]}]