node-red/flows.json
[{"id":"92c6fa73.238768","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"8a140c94.9e6d4","type":"subflow","name":"flows","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"83a04101.fe487"},{"id":"ca3a3dd.2e75bc"}]}],"out":[],"env":[{"name":"NAME","type":"str","value":""},{"name":"INBOX","type":"env","value":"mqtt/${NAME}/inbox","ui":{"type":"hide"}},{"name":"BOT_NAME","type":"str","value":""},{"name":"BOT_TOKEN","type":"str","value":""},{"name":"CHAT_ID","type":"num","value":""},{"name":"NOTES","type":"env","value":"mqtt/${NAME}/notes","ui":{"type":"hide"}}],"color":"#DDAA99"},{"id":"211fa4a3.5ef86c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fed36da5.d3b23","type":"telegram bot","z":"","botname":"{env.get(\"BOT_NOME\")}","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"92c63d58.74da4","type":"mqtt in","z":"8a140c94.9e6d4","name":"","topic":"${INBOX}","qos":"2","datatype":"auto","broker":"211fa4a3.5ef86c","x":120,"y":420,"wires":[["9253c685.1f1da8"]]},{"id":"42cd2b73.b037a4","type":"http request","z":"8a140c94.9e6d4","name":"signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":420,"wires":[["acd220f8.ec78a"]]},{"id":"9253c685.1f1da8","type":"function","z":"8a140c94.9e6d4","name":"signal","func":"msg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/workspaces/main/artifacts/mqtt/operations/doSignal/execute';\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":420,"wires":[["42cd2b73.b037a4"]]},{"id":"acd220f8.ec78a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":420,"wires":[["a9dd252f.0fdb48"]]},{"id":"a9dd252f.0fdb48","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":420,"wires":[]},{"id":"3ea40478.17620c","type":"comment","z":"8a140c94.9e6d4","name":"MQTT > AGENT (MQTT > SIGNAL)","info":"****","x":200,"y":380,"wires":[]},{"id":"54a74328.3d97ac","type":"comment","z":"8a140c94.9e6d4","name":"AGENT > USER (ACL > TELEGRAM)","info":"","x":210,"y":540,"wires":[]},{"id":"f2f8190c.b3e0f8","type":"http in","z":"8a140c94.9e6d4","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["121895f.f566b6a","393c50ee.0f9ed"]]},{"id":"c14e45f8.9b97f8","type":"debug","z":"8a140c94.9e6d4","d":true,"name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":580,"wires":[]},{"id":"121895f.f566b6a","type":"switch","z":"8a140c94.9e6d4","name":"","property":"payload.sender","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":580,"wires":[["31f10410.ab7c3c"],["6716588.8bdb4a8"]]},{"id":"6716588.8bdb4a8","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":640,"wires":[]},{"id":"393c50ee.0f9ed","type":"http response","z":"8a140c94.9e6d4","name":"","statusCode":"","headers":{},"x":130,"y":640,"wires":[]},{"id":"31f10410.ab7c3c","type":"function","z":"8a140c94.9e6d4","name":"","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nmsg.payload = {}\nmsg.payload.chatId = env.get('CHAT_ID');\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":580,"wires":[["b2872edb.e2863"]]},{"id":"918f4343.a97e1","type":"comment","z":"8a140c94.9e6d4","name":"USER > AGENT (TELEGRAM > ACL)","info":"","x":1090,"y":380,"wires":[]},{"id":"2e3c8e75.091022","type":"function","z":"8a140c94.9e6d4","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload.content}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/agents/bot/inbox';\nmsg.payload = \n`{ \n    \\\"sender\\\": \\\"user\\\", \n    \\\"receiver\\\": \\\"bot\\\", \n    \\\"performative\\\": \\\"signal\\\", \n    \\\"content\\\": \\\"${literal}\\\", \n    \\\"msgId\\\": \\\"13\\\"\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":420,"wires":[["94efaaf8.31a058"]]},{"id":"94efaaf8.31a058","type":"http request","z":"8a140c94.9e6d4","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":420,"wires":[["30e71115.37ea9e"]]},{"id":"30e71115.37ea9e","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":420,"wires":[["53f151f0.9f7eb"]]},{"id":"53f151f0.9f7eb","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":420,"wires":[]},{"id":"90c3aea9.2507b","type":"http in","z":"8a140c94.9e6d4","name":"Dummy MQTT","url":"/mqtt","method":"post","upload":false,"swaggerDoc":"","x":1020,"y":580,"wires":[["f332f544.c51f38"]]},{"id":"f332f544.c51f38","type":"switch","z":"8a140c94.9e6d4","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":580,"wires":[["bfaaaf50.4e5e3","5d5363bc.c31b7c"],["7a04f234.712b3c"]]},{"id":"7a04f234.712b3c","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":640,"wires":[]},{"id":"8d301008.7f77e","type":"mqtt out","z":"8a140c94.9e6d4","name":"","topic":"${NOTES}","qos":"2","retain":"","broker":"211fa4a3.5ef86c","x":1710,"y":580,"wires":[]},{"id":"9a9db0db.b7b5","type":"http response","z":"8a140c94.9e6d4","name":"","statusCode":"","headers":{},"x":1510,"y":520,"wires":[]},{"id":"bfaaaf50.4e5e3","type":"change","z":"8a140c94.9e6d4","name":"set msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.terms[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":580,"wires":[["8d301008.7f77e"]]},{"id":"5d5363bc.c31b7c","type":"change","z":"8a140c94.9e6d4","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":520,"wires":[["9a9db0db.b7b5"]]},{"id":"b25cf70.55b1908","type":"comment","z":"8a140c94.9e6d4","name":"AGENT > MQTT (OPERATION > MQTT)","info":"","x":1100,"y":540,"wires":[]},{"id":"e78be100.310f3","type":"http request","z":"8a140c94.9e6d4","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["11e3eeec.7f15c1"]]},{"id":"83a04101.fe487","type":"function","z":"8a140c94.9e6d4","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/agents/user?only_wp=true';\nmsg.payload = '{\\\"uri\\\":\\\"http://node-red:1880/user\\\"}';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[["e78be100.310f3"]]},{"id":"11e3eeec.7f15c1","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":120,"wires":[["ab6d6072.b1a01"]]},{"id":"ab6d6072.b1a01","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":120,"wires":[]},{"id":"33c0f844.ffe9c8","type":"comment","z":"8a140c94.9e6d4","name":"CREATE DUMMY AGENT","info":"","x":290,"y":80,"wires":[]},{"id":"136f407d.28964","type":"http request","z":"8a140c94.9e6d4","name":"dummy art","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":200,"wires":[["5580863c.aec828"]]},{"id":"ca3a3dd.2e75bc","type":"function","z":"8a140c94.9e6d4","name":"dummy art","func":"msg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/workspaces/main/artifacts/mqtt';\nmsg.payload = '{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":200,"wires":[["136f407d.28964"]]},{"id":"5580863c.aec828","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"neq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":200,"wires":[["ddf0eea2.04461"],["bb1623f2.7360e"]]},{"id":"bb1623f2.7360e","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":260,"wires":[]},{"id":"94df106c.9aa31","type":"http request","z":"8a140c94.9e6d4","name":"register","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":200,"wires":[["7407867a.dcb098"]]},{"id":"ddf0eea2.04461","type":"function","z":"8a140c94.9e6d4","name":"register","func":"msg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/workspaces/main/artifacts/mqtt/operations/register/execute';\nmsg.payload = '[\\\"http://node-red:1880/mqtt\\\"]';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":200,"wires":[["94df106c.9aa31"]]},{"id":"7407867a.dcb098","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":200,"wires":[["59cb3921.76f3d8"],["bda48428.e9cb98"]]},{"id":"bda48428.e9cb98","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":260,"wires":[]},{"id":"59cb3921.76f3d8","type":"function","z":"8a140c94.9e6d4","name":"focus","func":"msg.method = 'POST';\nmsg.url = 'http://jacamo-rest:8080/agents/bot/inbox';\nmsg.payload = '{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"bot\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"focus(mqtt,main)\\\", \\\"msgId\\\": \\\"13\\\"}';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":200,"wires":[["127a85ed.181afa"]]},{"id":"127a85ed.181afa","type":"http request","z":"8a140c94.9e6d4","name":"focus","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":200,"wires":[["4d4c20e7.c9793"]]},{"id":"2cbdd8ce.ebc5d8","type":"debug","z":"8a140c94.9e6d4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":200,"wires":[]},{"id":"4d4c20e7.c9793","type":"switch","z":"8a140c94.9e6d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1470,"y":200,"wires":[["2cbdd8ce.ebc5d8"]]},{"id":"4181d7da.317b58","type":"comment","z":"8a140c94.9e6d4","name":"CREATE DUMMY ARTIFACT","info":"","x":300,"y":240,"wires":[]},{"id":"17ebb410.4d82ec","type":"comment","z":"92c6fa73.238768","name":"CLICK TO CREATE THE DUMMY ENTITIES","info":"","x":190,"y":80,"wires":[]},{"id":"14734b7b.8e5bf5","type":"inject","z":"92c6fa73.238768","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":195,"y":140,"wires":[["29f45004.d8611"]],"l":false},{"id":"29f45004.d8611","type":"subflow:8a140c94.9e6d4","z":"92c6fa73.238768","name":"flows","env":[],"x":610,"y":140,"wires":[]},{"id":"6ece4398.dcef5c","type":"comment","z":"92c6fa73.238768","name":"DOUBLE CLICK ON NODE BELOW FOR SETTINGS","info":"","x":620,"y":80,"wires":[]},{"id":"5f8bc0fc.af79d","type":"telegram receiver","z":"8a140c94.9e6d4","name":"","bot":"fed36da5.d3b23","saveDataDir":"","filterCommands":false,"x":1030,"y":420,"wires":[["2e3c8e75.091022"],[]]},{"id":"b2872edb.e2863","type":"telegram sender","z":"8a140c94.9e6d4","name":"send","bot":"fed36da5.d3b23","x":590,"y":580,"wires":[["c14e45f8.9b97f8"]]}]